.venv/
__pycache__/
*.pyc
*.pth
*.pt
*.hdf5
*.zip
.env

# Data folders
src/social_media_analysis/data/raw data/
src/social_media_analysis/data/dataset/
src/social_media_analysis/data/image_splits/
src/social_media_analysis/data/text_splits/
src/social_media_analysis/data/training_data.csv

# Models
src/social_media_analysis/models/

# Images
*.jpg
*.jpeg
*.png
*.bmp
*.webp

src/social_media_analysis/data/apy.csv
src/social_media_analysis/data/india_hazard_master_dataset_final.csv
src/social_media_analysis/resource_monitor/__pycache__/
src/social_media_analysis/test_mongo.py


src/social_media_analysis/fairness_monitor/__pycache__/